footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  padding: 0px;
  height:10%;
  background-color:lightslategrey;
  display:grid;
  grid-template-columns: auto auto ;

    #name{
        font-family: fantasy;
        color:black;
        font-size: 75px;
        font-weight: 600;
    }
    ul{
        display: grid;
        grid-template-columns: auto auto;
       
    }

    li{
        list-style: none;
    }
}