body{
    margin: 0px;
    background-image: url('https://thumbs.dreamstime.com/b/abstract-pastel-watercolor-background-art-water-color-paint-white-paper-blue-pink-color-95000495.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    #layout-main{
    height: 100%;
    }
}

