footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  height: 10%;
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: auto auto; }
  footer #name {
    font-family: fantasy;
    color: blue;
    font-size: 75px;
    font-weight: 600; }
  footer ul {
    display: grid;
    grid-template-columns: auto auto; }
  footer li {
    list-style: none; }
