header {
  width: 100%;
  height: 10%;
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: auto auto; }
  header #name {
    font-family: fantasy;
    color: blue;
    font-size: 75px;
    font-weight: 600; }
  header ul {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 30px; }
  header li {
    list-style: none; }
